*
!.gitignore
!Dockerfile
!README.md
!cluster.sh
!high_quality_snps.txt
!requirements.txt
!analyze_clusters.py
!example_images/
!example_images/ancestry_fraction_each_individual.png
!example_images/median_iqr_each_population.png
